@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.content-modal__landscape {
  object-fit: contain;
  border-radius: 10px;
}

.content-modal__portrait {
  display: none;
  object-fit: contain;
  border-radius: 10px;
}

.tagline {
  padding-bottom: 10px;
  align-self: center;
}

.content-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.content-modal::-webkit-scrollbar {
  display: none;
}

.content-modal__about {
  padding: 10px;
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: space-evenly;
  font-weight: 300;
}

.content-modal__title {
  height: 12%;
  font-size: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-modal__description {
  display: flex;
  height: 40%;
  overflow-y: scroll;
  padding: 15px;
  border-radius: 20px;
  scrollbar-width: thin; /* Firefox */
  box-shadow: inset 0 0 5px #000000;
  text-align: justify;
}

.content-modal__description::-webkit-scrollbar {
  display: none;
}

@media (min-width: 835px) {
  .content-modal__landscape {
    display: none;
  }
  .content-modal__portrait {
    display: flex;
    width: 38%;
  }
  .content-modal {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
  }
  .content-modal__about {
    width: 58%;
    padding: 0;
    height: 100%;
  }
  .content-modal__title {
    font-size: 3.5vw;
  }
  .content-modal__description {
    font-size: 22px;
  }
}

.media {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  background-color: #282c34;
  border-radius: 10px;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.media:hover {
  background-color: white;
  color: black;
}

@media (max-width: 550px) {
  .media {
    width: 46%;
  }
}

.poster {
  border-radius: 10px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 8px 0;
}

.sub-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
  padding: 0 2px;
  padding-bottom: 3px;
}
